objectexamples/src/main/app/src/main/app/objectexamples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:objectexamplesrest="http://www.mulesoft.org/schema/mule/objectexamplesrest"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/objectexamplesrest http://www.mulesoft.org/schema/mule/objectexamplesrest/current/mule-objectexamplesrest.xsd">
	<flow name="objectUnMarshalFlow" doc:name="objectUnMarshalFlow">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="8081" path="marshal" doc:name="HTTP" />
		<custom-interceptor class="org.mule.interceptor.UnMarshalObjectInterceptor">
		</custom-interceptor>
		<custom-interceptor class="org.mule.interceptor.MarshalObjectInterceptor" />
	</flow>
	<flow name="objectExampleFlow" doc:name="objectExampleFlow">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="8081" path="example" doc:name="HTTP" />
		<custom-interceptor class="org.mule.interceptor.ExampleGenerator">
		</custom-interceptor>
		<logger message="#[message]" level="INFO" doc:name="Logger" />
	</flow>
</mule>
